.header {
    padding: 5px 24px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: flex;
    align-items: center;
    height: auto;
    
    overflow: hidden;
}

.youtubeLogo {
    margin-left: 15px;
    width: 125px;
    object-fit: cover;
}

.searchContainer {
    display: flex;
    align-items: stretch;
}

.search {
    border: 1px solid #c9c9c9;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 18px;

    width: 500px;
    height: inherit;
    padding: 5px 5px 5px 15px;
}

.searchButton {
    background-color: #f9f9f9;
    border: 1px solid #c9c9c9;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    padding: 3px 15px;
}

.mic {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.avatar {
    display: flex;
    align-items: center;
}