* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "sans-serif", Arial;
    font-size: 18px;
}

.main {
    display: flex;
}

.aside {
    padding: 15px;
    max-width: 200px;
}